{:paths ["." "src" "test"]
 :deps {io.github.kotoba-lang/io-multiformats {:git/url "https://github.com/kotoba-lang/io-multiformats.git" :git/sha "310724803db65840f00d2d98d7887f2b6a512bd3"}}
 :tasks {test {:task (load-file "run_tests.cljk")}}}
